/* https://aashvik.com/posts/shell-ssg/ */

:root {
  color-scheme: light dark;
  --fg: light-dark(#1a1a1a, #c0caf5);
  --bg: light-dark(#cce, #24283b);
  --a: light-dark(#0050b3, #7aa2f7);
  --selection: light-dark(#7aa2f7, #2e3c64);
  --quote-line: light-dark(#2e3c64, #7aa2f7);
  --quote-bg: light-dark(#7aa2f755, #2e3c6466);
  --code-bg: light-dark(#9f9fff, #1a1b26);

  color-scheme: dark; /* default */
  &:has(#light:checked) {
    color-scheme: light;
  }
  &:has(#dark:checked) {
    color-scheme: dark;
  }
}

#light,
#dark {
  display: none;
}

@font-face {
  font-family: "berkley";
  src: url("BerkeleyMono-Regular.ttf");
}

body {
  background: var(--bg);
  color: var(--fg);
  /* text-justify: newspaper; */
  /* text-align: justify; */
  font-family: berkley;
  font-size: 1.1em;
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0 10px;
  nav {
    padding: 10px 0 10px 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
    svg {
      height: 1.5em;
      width: 1.5em;
      fill: var(--fg);
      color: var(--fg);
    }
  }

  main {
    div#blog-head {
      padding: 20px 0 20px 0;
      text-align: center;
      div#blog-title {
        font-size: 2em;
      }
    }
  }
}

/* common */

a {
  color: var(--a);
}

ul {
  list-style-type: "- ";
}

h1 {
  font-size: 1.8em;
  &::before {
    content: "# ";
  }
}
h2 {
  font-size: 1.4em;
  &::before {
    content: "## ";
  }
}
h3 {
  font-size: 1.2em;
  &::before {
    content: "### ";
  }
}

blockquote {
  border-left: 0.2em solid var(--quote-line);
  background: var(--quote-bg);
  p {
    padding: 5pt 5px 5pt 15px;
  }
}

pre.giallo {
  padding: 1em;
  border-radius: 10px;
  background: var(--code-bg);
  code {
    background: #1a1b26;
  }
}

code {
  font-family: berkley;
  background: var(--code-bg);
}

*::selection,
*::-moz-selection {
  background: var(--selection);
}
