<!doctype html>
<html lang="en">
  <head>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="/rss.xml"
    />
    <meta charset="UTF-8" />
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <title>muh blog</title>
    <link rel="icon" type="image/icon" href="/favicon.ico" />
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}" />
  </head>

  <body>
    {% block content %} {% endblock content %}
  </body>
</html>
