{% extends "base.html" %} {% block content %}

<div>hello this is my website</div>

<br />

BLOGS:

<ul>
  {% for page in section.pages %}
  <li>
    {{ page.date | date(format="%Y-%m-%d") }}
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>

<!-- -- >
<code style="font-size: 0.8em">
  <pre>
                ___
  ___======____=---=)
/T            \_--===)
| \ (0)   \~    \_-==)
 \      / )J~~    \-=)
  \\___/  )JJ~~~   \)
   \_____/JJJ~~~~    \
   / \  , \J~~~~~     \
  (-\)\=|\\\~~~~       L__
  (\\)  (\\\)_           \==__
   \V    \\\) ===_____   \\\\\\
          \V)     \_) \\\\JJ\J\)
                      /J\JT\JJJJ)
                      (JJJ| \UUU)
                       (UU)
    </pre
  >
</code>
<!-- -->

<!-- TODO: add buttons -->

{% endblock content %}
